* {
    /* Browser automatically gives all block elements margin and padding.
    This resets margin and padding to 0.  */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body
{
    /* min-width: 720px; */
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
}

header > h1
{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-weight: 300;
}

.logo
{
    height: 10em;
}

#menu
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 1.5em; */
    background-color: #45cbb2;
}

#menu > li
{
    list-style: none;
    font-size: 1.5em;
    margin: 0 1em;
}

#big-logo
{
    width: min(85%, 1200px);
    display: block;
    margin: 2em auto;
}
#home
{
    /*
        TODO: Write media query to
        change flex direction
        for desktop mode 
     */
    display: flex;
    flex-direction: column;
    
}

#home > div
{
    display:flex;
    flex-direction: column;
    /* text-align: center; */
}
#home > div > p
{
    text-align: center;
    /* margin: 0 auto; */
    font-size: 1.5em;
}

#home, #chairs,#desks,#checkout
{
    padding: 2em;
}
.card-container
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card
{
    border: 2px solid black;
    padding: 1em;
    margin: 1em;
    width:300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3em;
}
.card > h3,p,div,button
{
    margin:0.5em;
}

.card > img
{
    display: block;
    margin: 0 auto;
    width: 100%;
    height:300px;
    

    /* Seems to be the correct option */
    object-fit:contain;
}

.add-to-cart
{
    margin-top: 1em;

}

.bold
{
    font-weight: bold;
}

#cart
{
    display: flex;
    flex-direction: column;
}


.product-checkout
{
    display:flex;
    flex-direction: row;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    padding: 0.5em;
    margin: 1em;
    flex-wrap:wrap;
    font-size: 1.3em;
}
.product-checkout > img
{
    height:100%;
    width: 110px;
    object-fit: contain;
}

.product-checkout > button
{
    display: block;
    font-size: 1.0em;
    padding: 0.5em;
}

.center-text
{
    text-align: center;
}

#total
{
    font-weight: bold;
    text-align: center;
    font-size: 2em;
}
@media screen and (max-width:1500px)
{
    #cart
    {
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-evenly;
    }
    .product-checkout
    {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        height: auto;
    }
    .product-checkout > img
    {
        width:auto;
        height: 200px;
        width: 300px;
        /* object-fit: cover;
        height: 100%;
        width: 100%; */
    }
    /* .product-checkout > *
    {
        margin: 0.5em;
    } */
}